* {
  box-sizing: border-box;
  font: -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  margin: 1em;
  font: 1em/1 'Montserrat', sans-serif;
  background: -webkit-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00aaee 10%, #DD2476 90%); /* W3C */ }
  .transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) 
}


#loader{
  color: blue;
  margin: 0;
  padding: 1em;
  list-style-position: inside;
  background: white;
  transition: all 1s ease;
  display: none;
}

.show{
  display: inline-block;
}

.hide{
  display: none;
}

/* ************* */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


header {
  background-color: #5C1349;
  height: auto;
  top: 0;
  overflow: hidden;
  border-radius: 15px 50px;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

header img {
  display: block;
  height: 2em;
}

header img:hover {
  transition: 1s;
  transform: scale(0.95);
  transform: rotate(360deg);
}

header h1 {
  color: #FFFFFF;
  display: inline-block;
}

header button {
  background: #FFFFFF;
  border: none;
  color: #5C1349;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  background-position: center;
  transition: background 0.8s;
}

header button span {
  display: block;
  padding: 0.7em;
  text-transform: uppercase;
  font-weight: 800;
}

header button:hover {
  opacity: 0.85;
  transition: 0.5s;
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}

header button:active {
  background-color: #5C1349;
  background-size: 100%;
  transition: background 0s;
}

/* ****** */
section {
  display: flex;
  flex-wrap: wrap;  
}

section {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  margin: 0 2.5em;
  display: grid;
  grid-gap: 10px;
}

section > * {
  background-color: white;
  color: #fff;
  border-radius: 5px;
  padding: .4em;
  font-size: 150%;
  margin-bottom: 10px;
}

section div {
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  transition: .2s;
}


article img {
  max-width: 100%;
  border-radius: .25em;
}

div:hover {
  transform: scale(0.97);
  cursor: pointer;
}

div:hover img{
  opacity: 0.9;
}

div:active {
  transform: rotateX(150deg);
}

article h2 {
  font-size: 1em;
  color: black;
}

h2, p, .filmdatum, .filmgenre{
  display: none;
}

.big {
  display: block;
}

.big img {
  display: none;
}

.big h2, .big p, .big .filmdatum, .big .filmgenre {
  display: block;
}

.big h2 {
  font-size: 1.2em;
  color: #5C1349;
  border-bottom: 0.3em solid #5C1349;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
}



@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}